<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection property for MySQL -->
		
		<!-- 1. MySQL driver -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 2. MySQL connection url -->
		<property name="hibernate.connection.url">jdbc:mysql://52.10.64.140:3306/hibernateDB</property>
		<!-- 3. MySQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 4. MySQL database user name -->
		<property name="hibernate.connection.username">webserver</property>
		<!-- 5. MySQL database password -->
		<property name="hibernate.connection.password">password</property>
		
		<!-- Extra properties for our hibernate configuration -->
		
		<!-- Creates the database schema, destroying previous data -->
		<!-- hbm2ddl: hibernate model to data definition language -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- Disables auto commit feature -->
		<property name="hibernate.connection.autocommit">false</property>
		
		<!-- print all generated SQL to the console -->
        <property name="hibernate.show_sql">true</property>
		<!-- format SQL in log and console -->
		<property name="hibernate.format_sql">true</property>
		<!-- add comments to the generated SQL -->
		<property name="hibernate.use_sql_comments">true</property>
		
		<!-- JDBC transaction -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		
		<!-- Model mapping -->
		<mapping resource="Patient.hbm.xml"/>
		<mapping resource="Doctor.hbm.xml"/>
		
		
	</session-factory>
</hibernate-configuration>